<launch>
    <param name="/highlight_text_color" value="YELLOW" />

<!--      Publishers-->
    <node name="publisherA" pkg="psr_aula9_ex1" type="talker.py">
        <remap from="chatter" to="dog1" />
        <param name="rate" value="1" />
    </node>

    <node name="publisherB" pkg="psr_aula9_ex1" type="talker.py">
        <remap from="chatter" to="dog1" />
        <param name="rate" value="3" />
    </node>

    <node name="publisherC" pkg="psr_aula9_ex1" type="talker.py">
        <remap from="chatter" to="dog2" />
        <param name="rate" value="1" />
    </node>

<!--      Subscribers-->
    <node name="subscriberAB1" pkg="psr_aula9_ex1" type="listener.py">
        <remap from="chatter" to="dog1" />
    </node>

    <node name="subscriberAB2" pkg="psr_aula9_ex1" type="listener.py">
        <remap from="chatter" to="dog1" />
    </node>

    <node name="subscriberC" pkg="psr_aula9_ex1" type="listener.py">
        <remap from="chatter" to="dog2" />
    </node>

    <node name="subscriberD" pkg="psr_aula9_ex1" type="listener_dual.py" output="screen">
        <remap from="chatter" to="dog1" />
        <remap from="chatter2" to="dog2" />
    </node>
</launch>
